.form
  &__fieldInput, &__btnSave
    @include generic-box

  &__field
    &Input
      width: 200px
      height: 35px
      background: $form__fieldInput--background
      color: $form__fieldInput--color

  &__btnSave
    width: 230px
    height: 45px
    background: $form__btnSave--background
    color: $form__btnSave--color
