// Variables Base
$primary: #bbd196
$secondary: #ff75a0
$third: #6e94fc
$white: #fff
$white-1: #f9f9f9
$white-2: #F6F7F9
$gray-2: #748194

// Layout
$navbar--background: $white-1

// Components
$form__fieldInput--background: $white-2
$form__fieldInput--color: $gray-2
$form__btnSave--background: $primary
$form__btnSave--color: $white

$btn--background: $third
$btn--color: $white
