{% extends 'base.html' %}
{% load widget_tweaks %}

{% block head_content %}
  <title>todoList - Sign in</title>
{% endblock %}

{% block container %}

  <form
    method='POST'
    action='{% url 'users:login' %}'
    class='form'
  >
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class='form__field'>
        {% render_field field class='form__fieldInput' placeholder=field.label %}

        {% if field.help_text %}
          <p class='form__fieldHelp'>
            {{ field.help_text | safe }}
          </p>
        {% endif %}

        {% for error in field.errors %}
          <p class='form__fieldError'>
            {{ error }}
          </p>
        {% endfor %}
      </div>
    {% endfor %}

    <button
      class='btn form__fieldSave'
      type='submit'
    >
      Log In!
    </button>


  </form>
{% endblock %}
