{% extends "base.html" %}

{% block head_content %}
<title>Platzigram sign in</title>
{% endblock%}

{% block container %}

    {% if form.errors %}
        <p class="alert alert-danger">
            Your username and password didn't match. Please try again.
        </p>
    {% endif%}

    <form
      method='POST'
      action="{% url "users:login" %}"
      class='form'
    >
        {% csrf_token %}

        <div class='form__field'>
            <input
              class='form__fieldInput'
              type='text'
              placeholder='Username'
              name='username'
            />
        </div>

        <div class='form__field'>
            <input
              class='form__fieldInput'
              type='password'
              placeholder='Password'
              name='password'
            />
        </div>


        <button
          class='btn'
          type='submit'
        >
          Sign in!
        </button>

    </form>

    <p class="mt-4">Don't have an account yet? <a href="{% url "users:signup" %}">Sign up here.</a></p>

{% endblock %}
